<div id="issues-container" class="list-group">
   <div class="post">
    <div class="post-top">
        <div class="">
            <i class="fas fa-user" style="font-size:24px;color:black;"></i>
        </div>
        <div class="post-info">
            <p class="name" style="font-size:24px;color:black;">{{user.name}}</p>
            <span class="time" style="font-size:24px;color:black;">{{format_date created_at}}</span>
        </div>
    </div>
    <div> 
        <header class="post-header post-header-title ml-5">
            <a href="/post/{{id}}">{{title}}</a>
        </header>
        {{#if isURL}}
        <div class="post-content"><a target="_blank" href="{{post_url}}">{{post_url}}</a></div>
        {{/if}}
        <div class="post-content .body">{{post_body}}</div>
    </div>

    <div class="post-bottom">
        <div class="action">
            <i class="far fa-thumbs-up"></i>
            <span>Like</span>
        </div>
        <div class="action">
            <a href="/post/{{id}}">
                <i class="far fa-comment"></i>
                <span class="badge"></span>
                <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
            </a>
        </div>
        <div class="action">
            <i class="fa fa-share"></i>
            <span>Share</span>
        </div>
    </div>
</div>
</div>