
{{>left-panel}}

<div class="middle-panel">

    <div class="post create">
        <div class="post-full">
            <div class="wrapper-post">
                <section class="post-popup">
                    <form id="edit-post-form">
                        <input type="text" class="text-label" name="post-title" value="{{post.title}}" />
                        <input type="url" class="text-label" name="post-url" id="url" value="{{post.post_url}}"
                            pattern="https://.*">
                        {{!-- <span>({{format_url post.post_url}})</span> --}}
                        <input class="text-input" name="post-body" value="{{post.post_body}}" />
                        <div class="theme-emoji">
                            <img src="/assets/icons/theme.svg" alt="theme">
                            <img src="/assets/icons/smile.svg" alt="smile">
                        </div>
                        {{!-- <div>
                            {{post.react_count}} {{format_plural "point" post.react_count}} by you on {{format_date
                            post.created_at}}
                            |
                            <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment"
                                post.comments.length}}</a>
                        </div> --}}
                        <button type="submit" class="btn-save">Update post</button>
                        <button id="delete-post" type="button" class="btn-del">Delete post</button </form>
                </section>
                {{!-- <form class="comment-form">
                    <div>
                        <textarea name="comment-body"></textarea>
                    </div>

                    <div>
                        <button type="submit">add comment</button>
                    </div>
                </form>
                {{> comments post.comments}} --}}
            </div>
        </div>
    </div>
</div>
{{>right-panel user}}

<script src=" /javascript/edit-post.js">
</script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>