<div class="container">

    {{>left-panel}}

    <div class="middle-panel">
        <div class="post">
            <div class="post-content">{{user.name}}</div>
            <div class="post-content">{{user.username}}</div>
            <div class="post-content">{{user.email}}</div>
            <div class="post-content">{{user.password}}</div>
        </div>


        <div class="action">
            <a href="/profile/edit/{{user.id}}"><button class="btn-up">Edit Profile</button></a>
        </div>
    </div>

    {{>right-panel user}}
</div>