


{{!-- <div class="col-12 col-md-4">
    <div class="card">
        <h3 class="card-header text-uppercase">Search By User</h3>
        <form id="user-form" class="card-body">
            <label class="form-label" for="username">Username</label>
            <input name="username" id="username" type="text" autofocus="true" class="form-input" />
            <button type="submit" class="btn">SEARCH BY USER</button>
        </form>
    </div>

    <div class="card">
        <h3 class="card-header text-uppercase">Search Requests</h3>
        <div id="language-buttons" class="card-body">
            <button data-language="javascript" class="btn">SEARCH ALL OPEN REQUESTS</button>
            <!-- <button data-language="html" class="btn">HTML</button>
          <button data-language="css" class="btn">CSS</button> -->
        </div>
    </div>
</div>

<div class="col-12 col-md-8">
    <h2 class="subtitle">Showing requests for: <span id="repo-search-term"></span></h2>
    <div id="repos-container" class="list-group"> --}}

{{#if posts.length}}
<div>
    {{#each posts as |post|}}

    <div class="post">
        <div class="post-top">
            <div class="">
                <i class="fas fa-user" style="font-size:24px;"></i>
            </div>
            <div class="post-info">
                <p class="name">{{user.name}}</p>
                <span class="time">{{format_date created_at}}</span>
            </div>
        </div>
        <div>
            <header class="post-header post-header-title">
                <a href="/post/{{id}}">{{title}}</a>
            </header>
            <div class="post-content">{{post_url}}</div>
            <div class="post-content">{{post_body}}</div>
        </div>

        <div class="post-bottom">
            <div class="action">
                <i class="far fa-thumbs-up"></i>
                <span>Like</span>
            </div>
            <div class="action">
                <a href="/post/{{id}}">
                    <i class="far fa-comment"></i>
                    <span class="badge"></span>
                    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
                </a>
            </div>
            <div class="action">
                <a href="/admin/edit/{{post.id}}"><button class="btn-up">Edit post</button></a>
            </div>
        </div>
    </div>

</div>
{{/each}}

{{else}}
<h6 class="">There are no currently posts!</h6>
{{/if}}
